@tailwind base;
@tailwind utilities;
@tailwind components;


.slider {
    @apply w-[80%] sliderSM:w-[710px] sliderMD:w-[920px] h-[300px] relative;
}

.slides {
    @apply w-full h-full overflow-hidden flex gap-[10px];
}

.slide {
    @apply min-w-full sliderSM:min-w-[350px] sliderMD:min-w-[300px] h-full;
}

.puces {
    @apply absolute w-full h-[20px] bottom-[-30px] left-0 flex items-center justify-center gap-2;
}
@layer utilities {
    .puce {
        height: 15px;
        width: 15px;
        border-radius: 100%;
        background: lightgrey;
    }

    .active {
        background: grey;
    }
}

